<components>
  <component name="general">
    <parameter name="installed" value="True" />
	<parameter name="formredirect" value="True" />
	<parameter name="redirectURL" value="/feedbacker/Feedbacker/testForm.htm" />
  </component>
  <component name="notifiers">
    <parameter name="SimpleEmailNotifier" value="True" />
  </component>
  <component name="email">
    <parameter name="dailyDigest" value="False" />
    <parameter name="sendEmails" value="True" />
  </component>
  <component name="SimpleEmailNotifier">
    <parameter name="subject" value="Feedback Notification" />
    <parameter name="fromAddress" value="furman.data@gmail.com" />
	<parameter name="SmtpServer" value="[YOUR VALUE]" />
	<parameter name="SmtpPort" value="25" />
	<parameter name="SmtpUser" value="[YOUR VALUE]" />
	<parameter name="SmtpHashedPassword" value="[YOUR VALUE]" />	
  </component>
  <component name="emailaddresses">
    <parameter name="furman.data@gmail.com" value="feedback" />
  </component>
  <component name="services">
    <parameter name="basepath" value="/feedbacker/Feedbacker/" />
    <parameter name="admin" value="/feedbacker/Feedbacker/AdminService.svc" />
  </component>
</components>
