<?xml version="1.0" encoding="utf-8" ?>
<components>
    <component name="PDB">
      <parameter name="DescriptorClass" value="Azavea.Open.DAO.SQLServer.SQLServerDescriptor,Azavea.Open.DAO.SQLServer"/>
      <parameter name="SERVER" value="[YOUR VALUE]" />
      <parameter name="DATABASE" value="[YOUR VALUE]" />
      <parameter name="USER" value="[YOUR VALUE]" />
      <parameter name="PASSWORD" value="[YOUR VALUE]" />

      <parameter name="MAPPING" value="[YOUR VALUE]\NYU_NYCHANIS\local\config\PdbMapping.xml" />
    </component>
  <component name="Properties">
    <parameter name="ConnectionConfigSection" value="PDB" />
    <parameter name="PrimaryTable" value="PDP_Properties_Primary" />
    <parameter name="PrimaryTableIdColumn" value="PropertyID" />
    <parameter name="PrimaryTableLatColumn" value="latitude" />
    <parameter name="PrimaryTableLonColumn" value="longitude" />
    <parameter name="SecondaryTable" value="PDP_Properties_Secondary" />
    <parameter name="SecondaryTableForeignKeyColumn" value="PropertyID" />
    <parameter name="SecondaryTablePropertyColumn" value="Attribute" />
    <parameter name="SecondaryTableValueColumn" value="AttributeValue" />
  </component>
  <component name="Users">
    <parameter name="DescriptorClass" value="Azavea.Open.DAO.SQLServer.SQLServerDescriptor,Azavea.Open.DAO.SQLServer"/>
    <parameter name="SERVER" value="[YOUR VALUE]" />
    <parameter name="DATABASE" value="[YOUR VALUE]" />
    <parameter name="USER" value="[YOUR VALUE]" />
    <parameter name="PASSWORD" value="[YOUR VALUE]" />
    <parameter name="MAPPING" value="[YOUR VALUE]%\NYU_NYCHANIS\local\config\PdbMapping.xml" />
  </component>
  <component name="NYCHANIS">
    <parameter name="ConnectionConfigSection" value="PDB" />
	<parameter name="MAPPING" value="[YOUR VALUE]\NYU_NYCHANIS\local\config\NychanisMapping.xml" />
  </component>
  <component name="AggregateColumns">
    <parameter name="Total Properties" value="*" />
    <parameter name="Total Buildings" value="BuildingCount" />
    <parameter name="Total Units" value="UnitCount" />
  </component>
  <component name="Mapping">
    <parameter name="MapServerURL" value="http://207.245.89.220:8080/geoserver/wms"/>
    <parameter name="SldHandlerURL" value="http://207.245.89.220/PDP/handlers/nyc-sld.ashx"/>
  </component>
</components>
