<?xml version="1.0" encoding="utf-8" ?>
<components>
	<component name="Mailer">
		<parameter name="SmtpServer" value="smtp-relay.dca.net" />
		<parameter name="SmtpPort" value="25" />
		<parameter name="SmtpUser" value="azaveadev" />
		<parameter name="SmtpHashedPassword" value="99FCLDhBje0=" />
		<parameter name="SmtpRelayServer" value="" />
	</component>
	<component name="PasswordReset">
		<parameter name="FromEmail" value="mmcfarland@gmail.com" />
		<parameter name="FromName" value="Furman Center Admin" />
		<parameter name="Subject" value="Account Update" />
		<parameter name="Body" value="{ActualName},
A request has been made to recover your password at Furman Center PDP.  Your password has been temporarily reset to {NewPassword}.  Please log in immediately using this new information and create a new password for your account.
Thank you,
Account Admin" />	
	</component>
	<component name="NewUserNotification">
		<parameter name="FromEmail" value="mmcfarland@gmail.com" />
		<parameter name="FromName" value="Furman Center Admin" />
		<parameter name="ToEmail" value="mmcfarland@gmail.com" />
		<parameter name="Subject" value="New User Permissions Requested" />
		<parameter name="Body" value="A new user has registered for the site and is requesting permission for limited data access.  The following information was provided by the new user:
{UserInfo}

Please log in to the Administrative section of the website to update permissions.
Thank you,
Account Admin" />	
	</component>
    <component name="UnsupportedBrowsers">
        <parameter name="IE6" value="MSIE 6" />
        <parameter name="IE5" value="MSIE 5" />
        <parameter name="FF1" value="Firefox/1\\.\\d+\\.\\d+" />
        <parameter name="FF2" value="Firefox/2\\.\\d+.\\d+" />
        <parameter name="LotusNotes" value="Lotus-Notes" />
    </component>
	<component name="DetailedReports">
        <parameter name="public" value="E:\FurmanCenter_DetailedReports\public" />
        <parameter name="limited" value="E:\FurmanCenter_DetailedReports\limited" />
    </component>
</components>
