<?xml version="1.0"?>

<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    </configSections>
    <log4net>
        <root>
            <level value="DEBUG"/>
            <appender-ref ref="LogFile"/>
        </root>
        <appender name="LogFile" type="log4net.Appender.RollingFileAppender,log4net">
            <param name="File" value=".\web.log" />
            <param name="AppendToFile" value="true" />

            <param name="RollingStyle" value="Size" />
            <param name="MaxSizeRollBackups" value="2" />
            <param name="MaximumFileSize" value="100MB" />
            <layout type="log4net.Layout.PatternLayout,log4net">
                <param name="ConversionPattern" value="%d %-5p - %m%n" />
            </layout>
        </appender>
    </log4net>
    
    <appSettings>
        <add key="BuildNumber" value="LocalBuild" />
        <add key="PDP.Data" value="%AZAVEA_PROJECTS_HOME%\NYU_NYCHANIS\local\config\PDP.Data.config" />
        <add key="PDP.Web" value="%AZAVEA_PROJECTS_HOME%\NYU_NYCHANIS\local\config\PDP.Web.config" />
        <add key="NYC.SLD" value="%AZAVEA_PROJECTS_HOME%\NYU_NYCHANIS\local\config\SLD.config"/>
		<add key="Azavea.Feedbacker" value="%AZAVEA_PROJECTS_HOME%\NYU_NYCHANIS\local\config\feedbacker.config"/>
    </appSettings>
    
    <connectionStrings/>
  
    <system.web>
        <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
        <compilation debug="false"></compilation>

        <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
        <authentication mode="Forms">
            <forms name=".EACOOKIE" loginUrl="default.aspx" path="/" timeout="60" protection="All"></forms>
        </authentication>
    </system.web>

    <location path="user">
        <system.web>
            <authorization>
				<deny users="?" /> <!-- Deny unauthenticated users, everyone else ok -->
            </authorization>
        </system.web>
    </location>

    <location path="admin">
        <system.web>
            <authorization>
                <allow roles="SysAdmin"/>
                <deny users="*" /> 
            </authorization>
        </system.web>
    </location>
    
</configuration>
