<?xml version="1.0" encoding="utf-8" ?>
<components>
	<!-- For each resolution, the corresponding map layer name in the map server. -->
	<component name="LayerNames">
		<parameter name="City" value="fc:city" />
		<parameter name="Borough" value="fc:boroughs" />
		<parameter name="PolicePrecinct" value="fc:police_precincts" />
		<parameter name="SchoolDistrict" value="fc:school_districts" />
		<parameter name="CommunityDistrict" value="fc:community_districts" />
		<parameter name="SubBorough" value="fc:sbas" />
		<parameter name="CensusTract" value="fc:census_tracts" />
	</component>
	<!-- For each resolution, the name of the "ID" field in the map layer. -->
	<component name="LayerGeographyIdFields">
		<parameter name="City" value="GeographyI" />
		<parameter name="Borough" value="GeographyI" />
		<parameter name="PolicePrecinct" value="GeographyI" />
		<parameter name="SchoolDistrict" value="GeographyI" />
		<parameter name="CommunityDistrict" value="GeographyI" />
		<parameter name="SubBorough" value="GeographyI" />
		<parameter name="CensusTract" value="geographyi" />
	</component>
	<!-- For each resolution, the name of the "ID" field in the map layer. -->
	<component name="LayerDisplayNameFields">
		<parameter name="City" value="Name" />
		<parameter name="Borough" value="Name" />
		<parameter name="PolicePrecinct" value="Name" />
		<parameter name="SchoolDistrict" value="Name" />
		<parameter name="CommunityDistrict" value="Name" />
		<parameter name="SubBorough" value="Name" />
		<parameter name="CensusTract" value="name" />
	</component>
	<!-- The default rules for rendering not counting the value-based colors.
             The tokens {LayerName}, {LayerGeographyIdField}, and {LayerDisplayNameField} will be
             replaced with the appropriate values from the above lists. -->
	<component name="DefaultSLD" xmlns:ogc="http://www.opengis.net/ogc">
		<Rule>
			<PolygonSymbolizer>
				<Stroke>
					<CssParameter name="stroke">#000000</CssParameter>
					<CssParameter name="stroke-width">0.1</CssParameter>
					<CssParameter name="stroke-opacity">0.8</CssParameter>
				</Stroke>
			</PolygonSymbolizer>
			<TextSymbolizer>
				<Label>
					<ogc:PropertyName>{LayerDisplayNameField}</ogc:PropertyName>
				</Label>
				<LabelPlacement>
					<PointPlacement>
						<AnchorPoint>
							<AnchorPointX>0.5</AnchorPointX>
							<AnchorPointY>0.5</AnchorPointY>
						</AnchorPoint>
					</PointPlacement>
				</LabelPlacement>
				<Font>
					<CssParameter name="font-family">Arial</CssParameter>
					<CssParameter name="font-size">12</CssParameter>
				</Font>
				<Halo>
					<Radius>1.5</Radius>
					<Fill>
						<CssParameter name="fill">#FFFFFF</CssParameter>
						<CssParameter name="fill-opacity">0.75</CssParameter>
					</Fill>
				</Halo>
			</TextSymbolizer>
		</Rule>
	</component>
	<component name="Polygons">
		<parameter name="Opacity" value="0.5"/>
	</component>
	<!-- The definition of the colors.  Any undefined values get the previous color. You must use whole numbers-->
	<component name="BreakPoints">
		<parameter name="0" value="#00FDFF"/>
		<parameter name="17" value="#00C7FF"/>
		<parameter name="33" value="#0073FF"/>
		<parameter name="50" value="#004AFF"/>
		<parameter name="66" value="#001AFF"/>
		<parameter name="83" value="#00008B"/>
	</component>
	<component name="AlternateBreakPoints">
		<parameter  name="0" value="#00008B"/>
		<parameter name="17" value="#001AFF"/>
		<parameter name="33" value="#004AFF"/>
		<parameter name="50" value="#0073FF"/>
		<parameter name="66" value="#00C7FF"/>
		<parameter name="83" value="#00FDFF"/>
	</component>
</components>
